venv/
deployment/resources.json
*.zip
*.out

__pycache__/
*.py[cod]
*$py.class

build/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

.vscode
deployment/db_creds_destination.json
deployment/db_creds_source.json

OLAP_load/package
